// site.scss

// 1. Your custom variables and variable overwrites.
// @import "theme/accordion.scss";
// @import "theme/alert.scss";
// @import "theme/align.scss";
// ... import all
@global-background: #1b1b1b;
@global-color: #fafafa;
@navbar-background: #1b1b1b;
@navbar-nav-item-color: #fafafa;
@navbar-nav-item-hover-color: #c4c4c4;

@import "../../node_modules/uikit/src/less/uikit.theme.less";